<% provide(:title, "About") %>
<div class="container">
  <h1>About</h1>
  <div class="center">
    <h4>Named after the <%= link_to 'legendary abstractionist painter', 'https://en.wikipedia.org/wiki/Jackson_Pollock', target: :_blank %>...</h4>
    <p>
      Pollock AI was built as a first test in creating "analytical, creative
      artifical intelligence". Currently, it is in its prototype stage to
      recieve feedback from users.
    </p>
  </div>
</div>
