<% provide(:title, "About") %>
<div class="container">
  <h1>About</h1>
  <div class="center">
    <p>
      Pollock AI was built as a first test in creating "analytical, creative
      artifical intelligence". Currently, it is in its prototype stage to
      recieve feedback from users.
    </p>
  </div>
</div>
