<% provide(:title, "Contact") %>
<div class="container">
  <h1>Contact</h1>
  <div class="center">
    <p>
      For any inquires regarding Pollock AI, please reach out to
      <%= link_to "Jonas", 'https://www.linkedin.com/in/jonaserthal/', target: :_blank %>.
    </p>
  </div>
</div>
