<% provide(:title, "Support") %>
<div class='container'>
  <h1>Support</h1>
  <div class='center'>
    <h3>Found any bugs or issues?</h3>
    <p>
      To get help with Pollock, please reach out to <%= link_to "Jonas", 'https://www.linkedin.com/in/jonaserthal/' %>
      so he can provide assistance however possible!
    </p>
  </div>
</div>