<% provide(:title, "Support") %>
<div class='container'>
  <h1 class="m-5">Support</h1>
  <div class='center m-5'>
    <h3 class="m-5">Found any bugs or issues?</h3>
    <p class="m-5">
      To get help with Pollock, please reach out to <%= link_to "Jonas", 'https://www.linkedin.com/in/jonaserthal/' %>
      so he can provide assistance however possible!
    </p>
  </div>
</div>