<% provide(:title, "Help") %>
<div class='container'>
  <h1>Help</h1>
  <div class='center'>
    <p>
      To get help with Pollock, please reach out to <%= link_to "Jonas", 'https://www.linkedin.com/in/jonaserthal/' %>
      so he can provide assistance however possible!
    </p>
  </div>
</div>
