<!-- Modal for Generate Function -->
<div class="modal fade" id="generateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title center" id="exampleModalLongTitle">Generate Mockups</h3>
        <br>
        <p>
          Provide a description of your business or kind of image you are looking for.
          After that, you can use Pollock to do an analysis of any image you choose.
        </p>
      </div>
      <div class="modal-body">
        <div class='form-group'>
            <%= form_tag('/pollock/show', method: 'get') do |f| %>
                <%= label_tag(:business_category, 'Business Category / Description', class: 'col-form-label') %>
                <%= text_field_tag :business_category, "", class: 'form-control' %>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Generate", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>