<!-- Modal for Analyze Function -->
<div class="modal fade" id="analyzeModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <h3 class="modal-title" id="exampleModalLongTitle">Image Analysis</h3>
        <br>
        <p>It's easy! Just paste an image URL for Pollock to analyze</p>
      </div>
      <div class="modal-body">
        <%= form_tag('/pollock/analyze', method: 'get') do |f| %>
            <%= label_tag(:image_url, 'Image URL') %>
            <%= text_field_tag :image_url, "", class: 'form-control' %>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Analyze", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>