<!-- Modal for Generate Function -->
<div class="modal fade" id="generateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Generate Mockups</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='form-group'>
            <%= form_tag('/pollock/show', method: 'get') do |f| %>
                <%= label_tag(:business_category, 'Business Category', class: 'col-form-label') %>
                <%= text_field_tag :business_category, "", class: 'form-control' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag "Generate", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>